# Assignment-2
## Week - 2
## Python - Data Structure 
## Code By - Aniruddh Tiwari

### Q1) How do you comment code in Python? What are the different types of comments?

We use (#) command to comment in Python for single line comment and for multi-line comments or block comments in Python we use doc-string to comment (""")

In [1]:
# for single line comment

In [2]:
"""
Using multi-line comments or block comments in Python 
by Doc String 
"""

'\nUsing multi-line comments or block comments in Python \nby Doc String \n'

### Q2) What are variables in Python? How do you declare and assign values to variables?

In Python variable is used to store and manipulate data. A name to a location where the data is stored is variable

In [3]:
message = "Hello World"

In this code we had declare a variable named "message" and used assignment operator (=) to assigne a value "Hello World" to the variable

### Q3) How do you convert one data type to another in Python?

In python we use type conversion functions:
- int() = for converting the data into integer data type.
- float() = for converting the data into float data type.
- str() = for converting the data into string data type.
- bool() = for converting the data into boolean data type.

In [4]:
x = input("Enter the Data : ")
x

Enter the Data :  45

'45'

In [5]:
type(x) # in this code you can see the data type is currently String

str

In [6]:
x = int(x) # Now I had used int type conversion functions for converting the string data into integer
x

45

In [7]:
type(x)

int

In [8]:
x = float(x) # Now I had used float type conversion functions for converting the integer data into float
x

45.0

In [9]:
type(x)

float

In [10]:
x = str(x) # Now I had used str type conversion functions for converting the float data into string
x

'45.0'

In [11]:
type(x)

str

### Q4) How do you write and execute a Python script from the command line?

To write and execute a Python script from the command line, you can follow these steps:

- Open a text editor or an integrated development environment (IDE) to write your Python script. Create a new file and write your Python code in it.
- Save the file with a .py extension. 
- Open a command prompt or terminal window.
- Navigate to the directory where the Python script is saved. You can use the cd command to change directories. For example, if your script is saved in the Documents folder, you can navigate to it using the command: cd Documents
- Once you are in the correct directory, you can execute the Python script by running the following command: python filename.py here the python is the command to run the Python interpreter, and filename.py is the name of the Python script file.
- Press the Enter key, and the Python script will be executed. In this example, the output will be:

### Q5) Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [12]:
my_list = [1, 2, 3, 4, 5]
my_list

[1, 2, 3, 4, 5]

In [13]:
sub_list = my_list[1:3]
sub_list

[2, 3]

### Q6) What is a complex number in mathematics, and how is it represented in Python?

In [14]:
print("Complex number in mathematics:- 6+9i")
x = 6+9j
print(f"Complex number in Python:- {x}")

Complex number in mathematics:- 6+9i
Complex number in Python:- (6+9j)

### Q7) What is the correct way to declare a variable named age and assign the value 25 to it?

In [15]:
age = 22

In [16]:
print(age)

22

In this case, age is the variable name, and 22 is the value being assigned to it. The = sign is the assignment operator used to assign the value to the variable.

### Q8) Declare a variable named price and assign the value 9.99 to it. What data type does this variable belong to?

In [17]:
price = 9.99
print(price)
type(price)

9.99

float

In this case, price is the variable name, and 9.99 is the value being assigned to it. The value 9.99 is a decimal number, so the variable price belongs to the data type called "float," which represents floating-point numbers in Python.

### Q9. Create a variable named name and assign your full name to it as a string. How would you print the value of this variable?

In [18]:
name = 'Aniruddh Tiwari'
print(name)
type(name)

Aniruddh Tiwari

str

In this case, name is the variable name, and 'Aniruddh Tiwari' is the value being assigned to it using ''. The value 'Aniruddh Tiwari' is a string, so the variable name belongs to the data type called "str," which represents string in Python.

### Q10) Given the string "Hello, World!", extract the substring "World".

In [19]:
x = "Hello, World!"
x

'Hello, World!'

In [20]:
len(x)

13

In [21]:
x[7:12]

'World'

### Q11) Create a variable named "is_student" and assign it a boolean value indicating whether you are currently a student or not.

In [22]:
is_student = True

In [23]:
print(is_student)

True

In [24]:
is_student = False

In [25]:
print(is_student)

False