# Assignment-1
## Python - Basic Building
## Code By - Aniruddh Tiwari

Q1. Create one variable containing following type of data:

    (i) string
    
    (ii) list
    
    (iii) float
    
    (iv) tuple

In [1]:
string_data_type = "Hello World"
string_data_type

'Hello World'

In [2]:
list_data_type = ['hello',25,26,28,98.99]
list_data_type

['hello', 25, 26, 28, 98.99]

In [3]:
float_data_type = 95.99
float_data_type

95.99

In [4]:
tuple_data_type = ('hello',25,26,28,98.99)
tuple_data_type

('hello', 25, 26, 28, 98.99)

Q2. Given are some following variables containing data:

(i) var1 = ‘ ‘

(ii) var2 = ‘[ DS , ML , Python]’

(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv) var4 = 1.

What will be the data type of the above given variable.

In [5]:
var1 = ''
print('var1 data type is = ',type(var1))

var1 data type is =  <class 'str'>

In [6]:
var2 =  '[ DS , ML , Python]'
print('var2 data type is = ',type(var2))

var2 data type is =  <class 'str'>

In [7]:
var3 =  [ 'DS' , 'ML' , 'Python']
print('var3 data type is = ',type(var3))

var3 data type is =  <class 'list'>

In [8]:
var4 = 1.
print('var4 data type is = ',type(var4))

var4 data type is =  <class 'float'>

Q3. Explain the use of the following operators using an example:
    
(i) /

(ii) %

(iii) //

(iv) **

In [9]:
# / is a  Division Operator use to find the quotient 
8/2

4.0

In [10]:
# % is a Modulus Operator use to find the remainder 
27%3

0

In [11]:
# // is a Division floor Operator use to find the 
#largest integer value that is less than or equal to the quotient of two numbers.
8//2

4

In [12]:
# ** is Exponent Operator use to find the power of the number or use to find the sq. and cube roots
8**3

512

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [13]:
l = ['Hello', 'Aniruddh', 18,8,2,25,25.99,[5,45,87.8,'Golu'],True,False,(5,45,87.8,'Golu')]
for i in l:
    print("Data Type of",i,"is",type(i))

Data Type of Hello is <class 'str'>
Data Type of Aniruddh is <class 'str'>
Data Type of 18 is <class 'int'>
Data Type of 8 is <class 'int'>
Data Type of 2 is <class 'int'>
Data Type of 25 is <class 'int'>
Data Type of 25.99 is <class 'float'>
Data Type of [5, 45, 87.8, 'Golu'] is <class 'list'>
Data Type of True is <class 'bool'>
Data Type of False is <class 'bool'>
Data Type of (5, 45, 87.8, 'Golu') is <class 'tuple'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [14]:
A = int(input("A = "))
B = int(input("B = "))
i = 0
while A%B == 0:
    A = A//B
    i = i+1
if i > 0:
    print("A is purely divisible by B for", i, "times.")
else:
    print("A is not purely divisible by B.")

A =  2500
B =  5

A is purely divisible by B for 4 times.

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [15]:
l = list(range(26))
print(l)
for i in l:
    if i%3==0:
        print(i, "Divisible by 3")
    else :
        print(i, "Not divisible by 3")

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25]
0 Divisible by 3
1 Not divisible by 3
2 Not divisible by 3
3 Divisible by 3
4 Not divisible by 3
5 Not divisible by 3
6 Divisible by 3
7 Not divisible by 3
8 Not divisible by 3
9 Divisible by 3
10 Not divisible by 3
11 Not divisible by 3
12 Divisible by 3
13 Not divisible by 3
14 Not divisible by 3
15 Divisible by 3
16 Not divisible by 3
17 Not divisible by 3
18 Divisible by 3
19 Not divisible by 3
20 Not divisible by 3
21 Divisible by 3
22 Not divisible by 3
23 Not divisible by 3
24 Divisible by 3
25 Not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

Mutable Data Type : Mutalble Data Types are the data type in which we can updata the data after they are created.

For example :- List

In [16]:
l = [25,28,29,30,'Aniruddh',29.99]
l

[25, 28, 29, 30, 'Aniruddh', 29.99]

In [17]:
# Reassigning values from list
l[1] = 696969

In [18]:
l

[25, 696969, 29, 30, 'Aniruddh', 29.99]

In [19]:
l[4] = 'Golu'

In [20]:
l

[25, 696969, 29, 30, 'Golu', 29.99]

Hear you can see that we can reassign or update in list because list is Mutable Data Type

Imutable Data Type : Imutable Data Types are the data type in which we can not updata the data after they are created.

For example :- String

In [21]:
s = "Aniruddh"
s

'Aniruddh'

In [22]:
s[1] = "a"

TypeError: 'str' object does not support item assignment

Hear you can see that we can not reassign or update in String because list is Imutable Data Type